.text {
display: flex;
margin-left: 4rem;
margin-top: 1.5rem;
align-items: center;



h1{
font-weight: 600;
font-size: 1.5rem;
}
hr{
margin-left: 0.8rem;
height: 1px;
font-size: 0.5rem;
background: rgba(36, 36, 36, 0.473);
border:1px solid rgba(36, 36, 36, 0.473);
border-radius: 50%;
width: 80%;
}
}
.swiper {
width: 100%;
height: 50%;
padding: 3%;

}

.swiper-slide {
background-position: center;
background-size: cover;
width: 100%;
height: 100%;
}

.swiper-slide img {
display: block;
width: 100%;
}

  
  
  
 