.mySwiper {
    margin-top: 0.3rem;
    max-width: 100%;
    max-height: 50vh;

  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0c0c0c;
    
    
  }
  
  .swiper-slide img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }