.mySwiper {
    margin-top: 0.3rem;
    max-width: 100%;
    height: calc(100vh/2.6);
    min-height: 270px;

  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0c0c0c;
    
    
  }
  
  .swiper-slide img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }


  @media screen and (max-width:750px), screen and (max-height:687px){
    .mySwiper {
      margin-top: 0.2rem;
      max-height: 40vh;
  
    }


  }
  @media screen and (max-width:500px), screen and (max-height:687px){
    .mySwiper {
      margin-top: 0.2rem;
      max-height: 30vh;
  
    }


  }