*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    user-select:none;
    font-family: 'Montserrat';

    border:none;
    outline:none;
    background:none;
    

}
html{
    height:100vh;
    width:100vw;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
   



}


body{
    height:100%;
    width:100%;
}


@media(max-width:900px){
    html{
        font-size:55%;
    }
}