@import '../../Styles/import';
.synops{
width: 100%;

overflow: hidden;


.container_snops{
max-width: 100%;
display: flex;
margin: 4% 8%;


.container-card{   
min-width: 30%;
.Date{

h1{
font-weight: 600;
font-family: $font-Source;
font-size: 2rem;
}
p{
padding: 0.5rem 0;
font-size: 1em;
width: 60%;
text-align: justify;
}
}

}

.Synops-Text{
margin-left: 1rem;

.Descricao{

h1{
font-weight: 600;
font-family: $font-Source;
}
p{
padding: 1rem 0;
font-size: 1.4em;
width: 60%;
text-align: justify;
}
}
.Gener-Prodution{
display: flex;
padding: 0.5rem 0;

.Gener{
h1{
font-weight: 600;
font-family: $font-Source;
}
p{
padding: 0.5rem 0;
font-size: 1.4em;
width: 60%;
text-align: justify;
}
}

.Prodution{
margin-left:3rem ;
h1{
font-weight: 600;
font-family: $font-Source;
}
p{
padding: 0.5rem 0;
font-size: 1.5em;
width: 60%;
text-align: justify;
}
}
}


}
}
}

@media screen and (max-width:750px), screen and (max-height:680px){
.synops{



.container_snops{
    margin: 12% 8%;
.container-card{   
min-width: 40%;

}

.Synops-Text{


.Descricao{


p{

width: 100%;

}
}
.Gener-Prodution{

flex-direction: column;



.Prodution{
    margin-left:0;

}
}
}


}
}
}