

 
.moviecard{
min-height: calc(150px * 1.5);
height: calc(150px * 1.5);
width: 85%;
transition: .3s linear;

border-radius: 4%;

.card_Img{
filter: blur(0);
position: relative;
z-index: 1;
transition: .3s linear;

&:hover{
filter: blur(4px);
}

img{

box-shadow: 4px 4px 4px 4px rgba(51, 51, 51, 0.315);
border-radius: 4%;
max-width: 100%;
height: calc(150px * 1.5);
object-fit: cover;
}

}


&:hover{

cursor: pointer;
.btn{
visibility:visible;
animation:fadeUp .6s linear;
}
}

.btn{
transition: .3s linear;
visibility: hidden;
position: relative;
z-index: 2;
top:-5rem;




a{
&:nth-child(1){
position: relative;
top: -17rem;
right: -14rem;
color: rgb(190, 114, 0);
}
&:nth-child(2){
position: absolute;
top: -8rem;
left: 7rem;
font-size: 5rem;
color: rgb(255, 255, 255);
}

}
}

}

@keyframes fadeUp{
    0%{
        transform:translateX(-5rem);
        
    }
}