@import '../../Styles/import';
.Header{
    display:flex;
    align-items:center;
    justify-content:space-around;
    min-height:10vh;
    width: 100%;
    box-shadow:$box-shadow;
}

.Button_Menu{
button{
font-size:1.8rem;
cursor:pointer;
}
}

.Navbar_list{
ul {

display:flex;

li{
padding:0 15px;
a{
font-size:1.5rem;
color:$color-blak;
font-weight:500;
border-bottom: 5px solid transparent;
border-radius:2px;
padding-bottom:1.3em;
&:hover{
color:$color-hover;
border-color:$border-color;
}



}
.active {
    color:$color-hover;
    border-bottom: 5px solid $border-color;
    }
}
}
}
.Responsive_listItem{
    display: none;
    ul {

        display:flex;
        
        li{
        padding:0 19px;
        a{
        font-size:2rem;
        color:$color-blak;
        font-weight:500;
        border-bottom: 5px solid transparent;
        border-radius:2px;
        padding-bottom:.8em;
        &:hover{
        color:$color-hover;
        border-color:$border-color;
        }}}}
}

.search_box{
display:flex;
background:rgba(133, 132, 132, 0.041);
width:100%;
border-radius:10px;
height:6vh;

.search_btn{
font-size:1.5em;
padding-left:0.8rem;
margin-top:0.3rem;

}

input{
width:100%;
border-radius:6px;
line-height:100%;
text-align: start;
padding-left: 7px;

&::placeholder{
    font-size:1.5rem;
}
}
}

//Responsive

@media (max-width:750px){
    .Navbar_list{
        display:none;
        align-items:center;
        justify-content:center;
        position:fixed;
        top:90%;
        width: 100%;
        box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 25%);
        min-height:10vh;
    }
    .Responsive_listItem{
        display: flex;
        align-items:center;
        justify-content:center;
        position:fixed;
        top:90%;
        width: 100%;
        box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 25%);
        min-height: 10vh;
    }
}