@import '../../Styles/import';
.Header{
    display:flex;
    align-items:center;
    justify-content:space-around;
    min-height:10vh;
    width: 100%;
    box-shadow:$box-shadow;
}

.Button_Menu{
button{
font-size:1.5rem;
cursor:pointer;
}
}

.Navbar_list{
ul {

display:flex;

li{
padding:0 15px;
a{
font-size:1rem;
color:$color-blak;
font-weight:500;
border-bottom: 5px solid transparent;
border-radius:2px;
padding-bottom:1.3em;
&:hover{
color:$color-hover;
border-color:$border-color;
}



}
.active {
    color:$color-hover;
    border-bottom: 5px solid $border-color;
    }
}
}
}

.search_box{
display:flex;
background:rgba(133, 132, 132, 0.041);
width:100%;
border-radius:10px;
height:6vh;

.search_btn{
font-size:1em;
padding-left:0.5rem;
margin-top:0.3rem;

}

input{
width:100%;
border-radius:6px;
line-height:100%;
text-align: start;
padding-left: 7px;

&::placeholder{
    font-size:1rem;
}
}
}