@import '../../Styles/import';
.Submenu{
    height: 100%;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.774);
    position:absolute;
    top:0;
    z-index: 100;

    .menu{
        position: relative;
        background-color: rgb(255, 255, 255);
        height:89.7%;
        width: 20%;
        top:2.6rem;
        border-radius: 0 4px ;
        box-shadow: $box-shadow;
    }
    button{
        color:#12717e;
        font-size: 1.5rem;
        position: relative;
        left: 60rem;
        top:5rem;
    }
}